/* Login.css */


.login {
    background-color: #e9ebee;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Ensure centering in both directions */
}

.login_logo {
    height: 85px;
    margin-bottom: 35px; /* Adjusted to place the logo above the form */
}

.login_container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center elements inside the container */
    border: 1px solid #dddfe2;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1), 0 6px 16px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Added padding for better spacing */
    width: 396px;
    background-color: #fff;
    text-align: center;
}

.login_container > h3 {
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 20px;
    font-family: Helvetica, Arial, sans-serif;
}

.login_container > form > input {
    height: 50px;
    margin-bottom: 10px;
    background-color: white;
    width: 100%; /* Ensure the width minus padding */
    border-radius: 5px;
    padding-left: 20px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    line-height: 16px;
    font-size: 17px;
    vertical-align: middle;
    box-sizing: border-box; /* Ensure padding and border are included in the width and height */
}

.login_container > form > input::placeholder {
    font-size: 17px;
    color: rgba(128, 128, 128, 0.8); /* Corrected color syntax */
}

.login_login {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 100%; /* Use full width of the container */
    color: #fff;
    margin-top: 10px; /* Added margin for spacing */
}

.sideInfo {
    display: flex;
    justify-content: center; /* Center the content */
    margin-top: 20px;
}

.sideInfo > h5 {
    color: #1877f2;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.rtd {
    color: #1877f2 !important;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.sideInfo, .sideinfo Link h5 {
    text-decoration: none;
}

.dot {
    margin: 0 5px;
}

.sideInfo h5:hover {
    text-decoration: underline;
}
